*.info
Elemental Tower Defense/Library/metadata/
Elemental Tower Defense/Library/ShaderCache/
Elemental Tower Defense/Temp/
Elemental Tower Defense/Library/LastSceneManagerSetup.txt
Elemental Tower Defense/Library/expandedItems
*.meta
